.Category {
  &__input {
    width: 80%;
    font-size: 13px;
    height: 40px;
    background: #eee;
    border: none;

    &:hover,
    &:focus {
      border: 1px solid blue;
      box-shadow: none;
    }
  }

  &__iconSearch {
    background: blue;
    padding: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;

    svg {
      font-size: 17px;
      color: white;
    }
  }

  &__filter {
    margin-top: 50px;
    h6 {
      font-weight: 700;
      font-size: 14px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        border: 1px solid #ccc;
        padding: 10px 20px;
        font-size: 13px;
        border-radius: 5px;
        margin-left: 10px;
        margin-top: 10px;

        &:focus {
          border: 1px solid blue;
          color: blue;
        }
      }
    }
  }
}
