html {
  a {
    text-decoration: none;
  }
  background: #f5f5f5;
}

.card {
  border: 1px solid #eee !important;
  border-radius: 10px !important;
  background: white;
}

.Recharge {
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: blue !important;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid blue;
  }

  .nav-tabs .nav-link {
    border: none;
    font-size: 13px;
    color: #ccc !important;

    &:hover {
      border: none;
      border-bottom: 2px solid white;
    }
  }

  .nav-tabs .nav-link:hover {
    color: gray;
  }
}

.Reward {
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: blue !important;
    border: none;
    background-color: #fff;
    border-bottom: 2px solid blue;
    &:active {
      border-bottom: 2px solid blue;
    }
  }

  .nav-tabs .nav-link {
    border: none;
    font-size: 13px;
    color: #ccc !important;

    &:hover {
      border: none;
      border-bottom: 2px solid white;
    }
  }

  .nav-tabs .nav-link:hover {
    color: gray;
  }

  tbody {
    td {
      font-size: 14px;

      &:first-child {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.SlugCategory {
  &__pagination {
    .page-item {
      &.active {
        .page-link {
          background: black;
          color: white;
          box-shadow: none;
          border: none;

          &:focus,
          &:active,
          &:visited {
            box-shadow: none;
            border: none;
          }
        }
      }

      .page-link {
        color: black;
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}

.auth {
  background: #eee;
  h3 {
    color: blue;
    font-weight: 800;
  }
  label {
    font-size: 14px;
    font-weight: 600;
  }

  input {
    height: 45px;
    font-size: 14px;
    border: 1px solid #eee;

    &:focus {
      border: 1px solid blue;
      box-shadow: none;
    }
  }

  button {
    background: blue;
    margin-top: 10px;
    font-size: 14px;
    height: 45px;
    font-weight: 600;
  }
}
