.recharge {
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;

    &__tab {
        &__form {
            &__label {
                font-size: 14px;
                font-weight: 600
            }

            &__input {
                height: 45px;
                font-size: 14px;
                border: 1px solid #eee;

                &:focus {
                    border: 1px solid blue;
                    box-shadow: none;
                }
            }

            &__button {
                width: 100%;
                background: blue;
                margin-top: 10px;
                font-size: 14px;
                height: 45px;
                font-weight: 600;
            }

        }
    }


}