.navbar {
  border-bottom: 1px solid #eee;

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 14px;

        &:not(.button_recharge):hover {
          border-bottom: 1px solid blue;
          color: blue;
        }

        svg {
          font-size: 25px;
        }

        &:has(svg):hover {
          border-bottom: none !important;
        }
      }
    }
  }
}

.button_recharge {
  background: blue;
  padding: 10px 30px;
  border-radius: 10px;
  color: white !important;
}

@media screen and (max-width: 768px) {
  .navbar {
    &__menu {
      margin-left: 0;
      &__button {
        &__signin {
          background: blue !important;
          &:hover {
            background: white;
            color: blue;
            border: 1px solid blue;
          }
        }
        &__signup {
          background: white !important;
          color: blue;
          border: 1px solid blue;
          &:hover {
            background: blue;
            color: white;
          }
        }
        button {
          font-size: 13px;
          margin-top: 20px;
          padding: 8px 30px;
          width: 150px;
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
}
